# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:whimsical-condor-710

NEXT_PUBLIC_CONVEX_URL=https://whimsical-condor-710.convex.cloud

NEXT_PUBLIC_CONVEX_SITE_URL=https://whimsical-condor-710.convex.site

# Google Apps Script URL (get from Google Apps Script > Deploy > Web App)
NEXT_PUBLIC_GOOGLE_SCRIPT_URL=

# Google Analytics
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-XXXXXXXXXX
