@tailwind base;
@tailwind components;
@tailwind utilities;

/* Container */
@layer components {
  .container-custom {
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
  }
}
